{% if post.layout != post %}
  {% assign words = post.content | strip_html | size %}
  {% if words < 250 %}
    less than 1 minute read
  {% elsif words < 500 %}
    1 minute read
  {% else %}
    {{ words | divided_by:500 }} minutes read
  {% endif %}

{% endif %}

{% if post.layout == post %}
  {% assign words = content.size %}
  {% if words < 250 %}
    less than 1 minute read
  {% elsif words < 500 %}
    1 minute read
  {% else %}
    {{ words | divided_by:500 }} minute read
  {% endif %}
{% endif %}
